* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*светлая-темная тема*/
/*
root {
    --bg-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    root {
        --bg-color: black; 
        --text-color: white;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

*/

