@font-face {
  font-family: 'su_font';
	src: url('/su_font/su_font.eot');
	src: url('/su_font/su_font.eot#iefix') format('embedded-opentype'),
	url('/su_font/su_font.ttf') format('truetype'),
	url('/su_font/su_font.woff') format('woff'),
	url('/su_font/su_font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'su_font';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.su_icon-hit1:before {
	content: "\e963";
}

.su_icon-hit2:before {
	content: "\e967";
}

.su_icon-hit3:before {
	content: "\e969";
}

.su_icon-new:before {
	content: "\e968";
}

.su_icon-discont-old-prise:before {
	content: "\e964";
}

.su_icon-percent-for-more-packages:before {
	content: "\e96a";
}

.su_icon-favorites:before {
	content: "\e965";
}

.su_icon-gift:before {
	content: "\e966";
}

.su_icon-smeta:before {
	content: "\e96b";
}
.su_icon-shop-house2:before {
	content: "\e94a";
}
.su_icon-cart_main2:before {
	content: "\1f54f";
}
.su_icon-cart_main:before {
	content: "\e915";
}
.su_icon-sravnenie3:before {
	content: "\e962";
}
.su_icon-sravnenie2:before {
	content: "\e95e";
}
.su_icon-sravnenie:before {
	content: "\e950";
}
.su_icon-home2:before {
	content: "\e95f";
}
.su_icon-shop-house:before {
	content: "\e94b";
}
.su_icon-home-roof:before {
	content: "\e940";
}
.su_icon-home-fundament:before {
	content: "\e93c";
}
.su_icon-settings:before {
	content: "\e926";
}
.su_icon-catalog2:before {
	content: "\e960";
}
.su_icon-catalog:before {
	content: "\e961";
}
.su_icon-list2:before {
	content: "\e95d";
}
.su_icon-list1:before {
	content: "\e959";
}
.su_icon-list1-1:before {
	content: "\e95a";
}
.su_icon-list1-2:before {
	content: "\e95b";
}
.su_icon-list1-3:before {
	content: "\e95c";
}
.su_icon-bolshe-ravno2:before {
	content: "\e957";
}
.su_icon-menshe-ravno2:before {
	content: "\e958";
}
.su_icon-bolshe:before {
	content: "\e951";
}
.su_icon-bolshe-ravno:before {
	content: "\e952";
}
.su_icon-menshe:before {
	content: "\e953";
}
.su_icon-menshe-ravno:before {
	content: "\e954";
}
.su_icon-plus-min:before {
	content: "\e955";
}
.su_icon-ravno:before {
	content: "\e956";
}
.su_icon-delivery-express:before {
  content: "\e945";
}
.su_icon-delivery:before {
	content: "\e925";
}
.su_icon-delivery-all-day:before {
  content: "\e949";
}
.su_icon-in-stock:before {
  content: "\e94c";
}
.su_icon-delivery-4-hours:before {
  content: "\e94e";
}
.su_icon-delivery-in-time:before {
	content: "\e94d";
}
.su_icon-add-new:before {
  content: "\e93f";
}
.su_icon-close2:before {
	content: "\e924";
}
.su_icon-close-burger_menu:before {
	content: "\e94f";
}
.su_icon-close:before {
	content: "\e923";
}
.su_icon-copy:before {
  content: "\e93d";
}
.su_icon-delete:before {
  content: "\e93e";
}
.su_icon-burger_menu:before {
	content: "\e930";
}
.su_icon-burger_menu1:before {
	content: "\e931";
}
.su_icon-burger_menu2:before {
	content: "\e932";
}
.su_icon-S_m2:before {
  content: "\e929";
}
.su_icon-A1:before {
  content: "\e92b";
}
.su_icon-A2:before {
  content: "\e92c";
}
.su_icon-B:before {
  content: "\e92d";
}
.su_icon-B1:before {
  content: "\e92e";
}
.su_icon-B2:before {
  content: "\e92f";
}
.su_icon-C:before {
  content: "\e933";
}
.su_icon-C1:before {
  content: "\e934";
}
.su_icon-C2:before {
  content: "\e935";
}
.su_icon-D:before {
  content: "\e936";
}
.su_icon-D1:before {
  content: "\e937";
}
.su_icon-D2:before {
  content: "\e938";
}
.su_icon-H:before {
  content: "\e939";
}
.su_icon-H1:before {
  content: "\e93a";
}
.su_icon-H2:before {
  content: "\e93b";
}
.su_icon-L:before {
  content: "\e941";
}
.su_icon-L1:before {
  content: "\e942";
}
.su_icon-L2:before {
  content: "\e943";
}
.su_icon-L3:before {
  content: "\e944";
}
.su_icon-S1:before {
  content: "\e946";
}
.su_icon-S2:before {
  content: "\e947";
}
.su_icon-plity-derevo:before {
	content: "\e92a";
}
.su_icon-wall:before {
  content: "\e948";
}
.su_icon-info:before {
  content: "\e917";
}
.su_icon-admin:before {
  content: "\e914";
}
.su_icon-admin3:before {
  content: "\e921";
}
.su_icon-exit:before {
	content: "\e918";
}
.su_icon-admin2:before {
  content: "\e922";
}
.su_icon-ucenca-icon:before {
	content: "\e928";
}
.su_icon-sale-icon:before {
	content: "\e927";
}
.su_icon-rub:before {
	content: "\e920";
}
.su_icon-1:before {
  content: "\e900";
}
.su_icon-12:before {
  content: "\e901";
}
.su_icon-13:before {
  content: "\e902";
}
.su_icon-16:before {
  content: "\e903";
}
.su_icon-19:before {
  content: "\e904";
}
.su_icon-22:before {
  content: "\e905";
}
.su_icon-25:before {
  content: "\e906";
}
.su_icon-30:before {
  content: "\e907";
}
.su_icon-32:before {
  content: "\e908";
}
.su_icon-33:before {
  content: "\e909";
}
.su_icon-35:before {
  content: "\e90a";
}
.su_icon-43:before {
  content: "\e90b";
}
.su_icon-49:before {
  content: "\e90c";
}
.su_icon-4808:before {
  content: "\e90d";
}
.su_icon-4809:before {
  content: "\e90e";
}
.su_icon-4811:before {
  content: "\e90f";
}
.su_icon-4812:before {
  content: "\e910";
}
.su_icon-4813:before {
  content: "\e911";
}
.su_icon-4814:before {
  content: "\e912";
}
.su_icon-4815:before {
  content: "\e913";
}
.su_icon-comments:before {
  content: "\e916";
}
.su_icon-location:before {
  content: "\e919";
}
.su_icon-logo_2017_smal:before {
  content: "\e91b";
}
.su_icon-partners:before {
  content: "\e91c";
}
.su_icon-questions:before {
  content: "\e91d";
}
.su_icon-sale:before {
  content: "\e91e";
}
.su_icon-vacansii:before {
  content: "\e91f";
}
.su_icon-logo_2017:before {
	content: "\e91a";
}